.card {
  border-radius: 20px;
  padding: 25px 30px 30px 30px;
  background-color: #ffffff;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 1440px;
  width: 100%;
}

.card__title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.item__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
